# Flutter
**/.dart_tool
**/build

# IDE/OS
.DS_Store
.idea
.vscode

# Version control
git
gitignore
dockerignore

# Build artifacts
.nx
dist
coverage
node_modules
apps/cardpilot-ocr-service

# Environment files (sensitive data)
env

# Development and config files
editorconfig
Dockerfile
README.md
eslintrc.js
nodemon.json
# Logs
*.log
